@tailwind base;

@tailwind components;

@tailwind utilities;

.loader{
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid blue;
    border-radius: 50%;
    -webkit-animation: spin 2s  linear infinite;
    animation: spin 2s  linear infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: spin 2s infinite;
}
.active{
    color:red;
}